<%= form_for recipe do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <h3>Ingredients</h3>
    <%= f.collection_check_boxes :ingredient_ids, ingredients, :id, :name %>
    <%= f.submit %>
<% end %>