<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br><br>
<%= link_to "Ingredients", ingredients_path %>
<%= link_to "Recipes", recipes_path %>
<br><br>
<%= link_to "Add New Recipe", new_recipe_path %>
<%= link_to "Add New Ingredient", new_ingredient_path %>
</body>
</html>
